<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Sign in</a></li>
    </ul>
</nav>